body {
  background-color: !important;
}
:root {
  --primary-color: rgb(22, 11, 25);
}
h1 {
  color: var(--primary-color);
  font-size: 80%;
  text-align: center;
  font-family: "raleway";
  padding-top: 50px;
}
h2,
h3,
p {
  font-family: "raleway";
}
h2,
h3 {
  font-style: italic;
  text-align: center;
}
.navbar {
  font-family: "raleway";
  margin: 0;
  background: linear-gradient(
    110.6deg,
    rgb(156, 116, 129) -18.3%,
    rgb(67, 54, 74) 16.4%,
    rgb(47, 48, 67) 68.2%,
    rgb(27, 23, 36) 99.1%
  );
}
#img {
  margin-top: 40px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
#contact-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.button {
  display: block;
  margin-top: 0 auto;
  text-decoration: none;
  background: blue;
}
ul {
  display: inline;
  list-style: none;
}
li {
  display: flex;
}
.btn-warning {
  padding: 20px;
  background-color: blue;
}
#projects {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 40px 0;
}
.card-body {
  font-family: arial;
}
.wrap {
  background-color: rgb(124, 124, 202);
  padding-bottom: 45px;
}
.container {
  --bs-gutter-x: 0rem;
}
