body {
  background-color: white !important;
}
:root {
  --primary-color: rgb(22, 11, 25);
  --accent-color: rgb(95, 72, 142);
  --button-color: rgb(79, 66, 111);
  --button-text-color: rgb(199, 177, 184);
}
.container {
  margin: 0 0 0 0 !important;
  min-width: 100%;
  --bs-gutter-x: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.navbar {
  font-family: "anybody";
  background: linear-gradient(
    110.6deg,
    rgb(199, 177, 184) -18.3%,
    rgb(148, 124, 161) 16.4%,
    rgb(89, 91, 135) 68.2%,
    rgb(79, 66, 111) 99.1%
  );
  opacity: 80%;
}
.col-sm-4 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0 auto;
}
h1 {
  color: var(--primary-color);
  font-size: 80%;
  text-align: center;
  font-family: "anybody";
  padding-top: 50px;
}
.wrap {
  margin: 0 !important;
  background-color: rgb(247, 244, 249);
  padding-bottom: 100px;
  padding-top: 50px;
}
.name {
  font-size: 76px;
  font-family: "anybody";
  font-weight: 500;
  color: rgb(57, 32, 106);
}
h3,
p {
  text-align: center;
  font-family: "raleway";
  font-weight: 700;
}
h2 {
  font-family: "anybody";
  font-weight: 100px;
  text-align: center;
  font-size: xx-large;
}
h3 {
  text-align: center;
  font-weight: 100;
}
ul {
  display: inline;
  list-style: none;
}
li {
  display: flex;
}
.weather {
  margin-top: 50px;
}
.finished {
  margin-bottom: 0;
  padding-bottom: 0;
}
.button {
  font-family: "anybody";
  display: flex;
  justify-content: center;
  max-width: 30%;
  text-align: center;
  border-radius: 30px;
  box-shadow: 2px 3px 4px rgb(205, 203, 206);
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--button-color);
  padding: 15px;
  text-decoration: none;
  margin: 15px auto;
  transition: 200ms all ease-in-out;
}
.button:hover {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid rgb(148, 124, 161);
  background-color: rgb(148, 124, 161);
}
footer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
i {
  color: var(--button-color);
  font-size: 30px;
}
#img {
  margin-top: 40px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
#projects {
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .name {
    font-size: 40px;
  }
  h3 {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .name {
    font-size: 46px;
    padding: 0;
  }
  h3 {
    font-size: 25px;
  }
  .weather {
    padding-top: 0;
    margin-top: 0;
  }
  .wrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .button.launch {
    margin-bottom: 75px;
  }
}
